@import '/src/scss/colors';

.input-field{
    &__tittle{
        color: $white;
        text-transform: capitalize;
        font-size: 20px;
        letter-spacing: 1.5px;
    }
    &__box{
    height: 30px;
    width: 100%;
    }
}