@import '/src/scss/colors';


.text-area-field{
    &__tittle{
        color: $white;
        text-transform: capitalize;
        font-size: 20px;
        letter-spacing: 1.5px;

    }
    &__box{
        width: 100%;
        height: 150px;
        resize: none;

    }
}